.About{
    background-color: rgb(168, 168, 168);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;  
    text-align: center;
    margin-bottom: 50px;
}

.firstAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.About h1{
    width: 60%;
    color: white;
    font-size: 30px;
}

.aboutSpacing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    min-height: 100vh;

}

.aboutSpacing h1{
    width: 50vw;
}

.aboutSpacing img{
    width: 50vh;
}

.skiVid{
    width: 40vw;
}

.small{
    display: none;
}

@media only screen and (max-width: 1200px){
    .small{
        display: flex;
    }

    .large{
        display: none;
    }

    .firstAbout{
        height: 100%;
        margin-top: 50px;
    }

    .aboutSpacing{
        flex-direction: column;
    }

    .aboutSpacing img{
        width: 60vw;
        margin-top: 40px;
    }

    .aboutSpacing h1{
        width: 80vw;
        margin-top: 50px;
    }

    .skiVideo{
        width: 80vw;
        margin-top: 50px;
    }
}