.About{
    background-color: rgb(124, 124, 124);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;  
}

.particles{
    height: 100%;
    width: 100%;
    position: absolute;
}

.About h1{
    width: 60%;
    color: white;
    font-size: 50px;
    text-align: center;
}