.About{
    background-color: rgb(78, 78, 78);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;  
}

.About h1{
    width: 60%;
    color: white;
    font-size: 50px;
    text-align: center;
}