.Contact{
    background-color: rgb(139, 139, 139);
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.particles{
    height: 100%;
    width: 100%;
    position: absolute;
}

.socialLinks{
    position: absolute;
    left: 50%;
}

.socialIcon{
    position: relative;
    left: -50%;
    margin: 20px;
    height: 10vw;
    /* display: flex; */
}

.socialIcon:hover{
    opacity: .5;
}

.contactMe{
    position: absolute;
    color: white;
    text-align: center;
    left: -50%;
    width: 100%;
    font-family: 'Dosis', sans-serif;  
}

.arrow{
    height: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .socialIcon{
        margin: 5px
    }

    .Contact{
        justify-content: flex-start;
    }

    .socialLinks{
        margin-top: 50%;
    }
}